* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    background: #FAF9FF;
    overflow-x: hidden;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
