.linkedin-card-container {
    padding-bottom: 16px;
    max-height: 322px;
    overflow: hidden;
}

.linkedin-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    border-bottom: 1px solid #DFE4EA;
    flex-wrap: wrap;
    gap: 12px;
}

.linkedin-card-title {
    font-family: var(--font-bold);
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #1F2A37;
    gap: 8px;
}

.linkedin-feed-list {
   padding: 8px 16px;
}

.linkedin-feed-item-wrapper {
    display: flex;
}

.linkedin-feed-item {
    font-family: var(--font-regular);
    margin-bottom: 16px;
    width: 90%;
    padding: 0 16px;
}

.linkedin-feed-title {
    font-weight: 600;
    font-size: 16px;
    color: #1F2A37;
    margin-bottom: 4px;
}

.linkedin-feed-meta {
    font-size: 11px;
    color: #6B7280;
}
.linkedin-feed-deesc{
    font-family: var(--font-regular);
    font-size: 12px;
    padding-top: 4px;
}
